name: Build_SLogger_Server 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - uses: actions/upload-artifact@v3
      with: 
          name: SLoggerCommand
          path: /home/runner/work/SLoggerServer/SLoggerServer/SLoggerCommand
    - uses: actions/upload-artifact@v3
      with: 
          name: SLoggerUnitTests
          path: /home/runner/work/SLoggerServer/SLoggerServer/SLoggerUnitTests
    - uses: actions/upload-artifact@v3
      with: 
          name: SLoggerBusinessLogic
          path: /home/runner/work/SLoggerServer/SLoggerServer/SLoggerBusinessLogic
  
  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: SLoggerCommand
    - uses: actions/download-artifact@v3
      with:
        name: SLoggerUnitTests
    - uses: actions/download-artifact@v3
      with:
        name: SLoggerBusinessLogic
    - name: Run Unit Tests
      run: dotnet test SLoggerUnitTests/SLoggerUnitTests.csproj --verbosity normal
    - uses: actions/upload-artifact@v3
      with: 
          name: SLoggerCommand
          path: /SLoggerCommand/bin/Release/net6.0/
